/*img.content.x700 {
    width: auto !important; /*override the width below
    width: 100%;
    max-width: 678px;
    float: left;
    clear: both;
  }
  */






  /*
  html {
    font-size: 125%;
  }
  */

.devicon {
  font-size: 4rem;
}

html {
  scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=Lobster|Open+Sans');









/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;
}

@media(min-width: 500px) {
  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}

