/*img.content.x700 {
    width: auto !important; /*override the width below
    width: 100%;
    max-width: 678px;
    float: left;
    clear: both;
  }
  */






  /*
  html {
    font-size: 125%;
  }
  */

.devicon {
  font-size: 4rem;
}

